body {
	padding-top: 0px;
}
.sidebar-nav {
	padding: 0px 0;
}
.top {
	cursor: pointer;
}
.top:hover {
	color: white;
}
.loading-spinner {
	display: block;
	background: url(/images/ajax-loader.gif) no-repeat;
	width: 16px;
	height: 16px;
}
